{% load static %}

<script>
   
   a{
       color:inherit; text-decoration: inherit;
   }
   </script>

<style>
   #navbar {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       z-index: 1000; /* Adjust this value as needed to layer it above other content */
       background-color: #f5f5f5; /* Adjust the background color as needed */
       /* Add any other styles you want for the fixed navbar */
   }
</style>

<div style="">
<div class="container gx-0">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light navbar-custom" style="padding-left: 120px; padding-right: 120px;">
        <div class="container-fluid" style="margin-top: 10px;">
            <h2>isthismoviegood.com</h2>
            </nav>
    </div>
    </div>
    </div>
